<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr Lab</title>
</head>
<body>
    <div class="container">
    <form action="/budgets" method="POST">
          <h1>Add a new item</h1>
          <p>Please fill in this form to create a new item.</p>
          <hr>
          <label for="date"><b>Date</b></label>
          <input type="text" placeholder="Date" name="date" id="date" required>
           <hr>
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter name" name="name" id="name" required>
          <hr>
          <label for="amount"><b>Amount</b></label>
          <input type="text" placeholder="amount" name="amount" id="amount" required>
          <hr>
          <label for="from"><b>From</b></label>
          <input type="text" placeholder="From" name="from" id="from" required>
          <hr>
          <button type="submit">Submit</button>
        </div>
      </form>
    </body>
    </html>
    